programacion/Lenguajes Estructurales/XML-DTD/Practica 5/fichero.dtd


<!ELEMENT albara (numero, data, client, articles)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT client (nom, poblacio)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT poblacio (#PCDATA)>
<!ELEMENT articles (compra+)>
<!ELEMENT compra (article, quantitat, descompte?)>
<!ELEMENT granel EMPTY>
<!ELEMENT descompte (#PCDATA)>
<!ELEMENT quantitat (#PCDATA)>
<!ELEMENT article (descripcio, granel?, ampolla?, preu)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT ampolla EMPTY>
<!ELEMENT preu (#PCDATA)>

<!ATTLIST client id ID #REQUIRED>
<!ATTLIST article codi ID #REQUIRED>